{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}


     <div class="col-12">
       <ol class="breadcrumb">
           <li class="breadcrumb-item"><a ng-click="clickMe()" href="{% url 'home'%}">Home</a></li>
              <li class="breadcrumb-item"><a ng-click="clickMe()"href="{% url 'commentsdetail' comment.id%}">Comments Detail</a></li>
           <li class="breadcrumb-item active">{{video.video_title}}</li>
       </ol>
     </div>
     <div class="col-12">
       <h3>Video Details :</h3>
       <hr>
     </div>
<div id="tag" class="col-12 text-center" >
  {% if tags_indicator %}
  <div class="myAlert-top alert alert-success" style="position: fixed;bottom: 0px;left:2%;width: 96%;z-index: 999;">


           <form method="post" action="{% url 'videoclassifer' comment.id%}">
               <strong>&#128515; Tag(s) was found Go to video's classifier &#128515; </strong><br />
              {% csrf_token %}
               <button  type="submit" class="btn btn-outline-primary btn-sm"  ng-click="clickMe()">Video's Classifier</button>
             </form>
  </div>
  <h3 class="text-center">Tags of this video: <span  class="badge badge-pill badge-success" >predefined tags</span> <span  class="badge badge-pill badge-secondary" > user tags</span> </h3>
    <h2 class="text-center">&#128515;</h2>
      <h5  class="text-center">

        {% if user_tags_list %}
            {% for tag in user_tags_list %}
            <span  class="badge badge-pill badge-secondary" >{{tag}}</span>
            {% endfor %}
        {% endif %}
        {% if predefined_tags_list %}
            {% for tag in predefined_tags_list %}
            <span  class="badge badge-pill badge-success" >{{tag}}</span>
            {% endfor %}
        {% endif %}
    </h5>
      {% else %}
      <div class="myAlert-top alert alert-danger" style="position: fixed;bottom: 0px;left:2%;width: 96%;z-index: 999;">

    <a class="myAlert-top alert alert-danger" style="text-decoration: none;" href="#form"> &#128531; please insert some Tag(s) , inorder to use our comments classifier app  &#128531;</a>

      </div>
      <h1 class="text-center"><span class="badge badge-danger">This video has no tags </span></h1>
      <h2 class="text-center">&#128531;</h2>
        {% endif %}

        <hr />
</div>
    <div class="row">
      <div class="col-12 col-md-6">

         <iframe width="500px" height="320px" src="{{watching_url}}">     </iframe>
         <hr />

      </div>
      <div class="col-12 col-md-6 text-center">


          <table class="table-responsive table table-bordered">
            <caption class="text-center" style="caption-side: top;">
              Video statistics
            </caption>
            <thead>
              <tr>
                <th scope="row">video's ID</th>
                <td>{{video.video_ID}}</td>
                <th scope="row">video's title</th>
                <td>{{video.video_title}}</td>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">video's category</th>
                <td>{{video.video_category}}</td>
                <th scope="row">channel's title</th>
                <td>{{video.channel_title}}</td>
              </tr>
              <tr>
                <th scope="row">likes</th>
                <td>{{video.statics_like_counts}}</td>
                <th scope="row">dislikes</th>
                <td>{{video.statics_dislike_counts}}</td>
              </tr>
              <tr>
                <th scope="row" title="comments including replies">overall comments</th>
                <td>{{video.statics_comments_counts}}</td>
                <th scope="row" title="only directs comments without including the replies">direct comments</th>
                <td>{{comment.numberOfComments}}</td>
              </tr>

            </tbody>
          </table>



      </div>
    </div>


<div class="container">
  <div class="col-12">



        <form id="form" class="border border-light p-5" >
          {% csrf_token %}

          <div class="caption"><h1>Tags Insertions</h1></div>

      <div class="text-center" style="border-top: 1px solid #eee;border-bottom:1px solid #eee;background:#fafafa;margin:30px 0;padding:20px 5px">
              <h3><span  class="badge badge-pill badge-success" >predefined tags</span></h3>

              <div style="padding :0 7px 0 5px;max-width:900px;margin:auto">
                  <textarea readonly id="predefined_tags" name="predefined_tags">
                              {% if predefined_tags_list %}
                                  {% for tag in predefined_tags_list %}
                                  {{tag}},
                                  {% endfor %}

                              {% endif %}</textarea>
              </div>
          </div>
          <div class="text-center" style="border-top: 1px solid #eee;border-bottom:1px solid #eee;background:#fafafa;margin:30px 0;padding:20px 5px">
              <h3><span  class="badge badge-pill badge-secondary" >user tags</span></h3>

              <div style="padding :0 7px 0 5px;max-width:900px;margin:auto">
                  <textarea id="user_tags" name="user_tags">{% if user_tags_list %}
                                  {% for tag in user_tags_list %}
                                  {{tag}},
                                  {% endfor %}
                              {% endif %}</textarea>
              </div>
          </div>
          <div id="fb-root"></div>

          <script type="text/javascript" src="{% static 'JS/tag-insertor/jquery.caret.min.js'%}"></script>
          <script type="text/javascript" src="{% static 'JS/tag-insertor/jquery.tag-editor.js'%}"></script>
          <script type="text/javascript" src="{% static 'JS/tag-insertor/jQuery_UI_autocomplete.js'%}">  </script>
          <!--       -->
          <button  id="submit" class="btn btn-primary btn-block"  type="submit" >Add/UPDATE Tags</button>
          <br />
          <p align="center">
              © Opinion Mining By Eng.Azzam Ali {% now 'Y' %}
          </p>

          </form>



  </div>




</div>

<div class="col-12">
  <hr />
  <div class="page-header">
      <h1><small class="pull-right">{{ size }} comments</small> Comments </h1>
  </div>
</div>
<div id="contents">



<div class="offset-2 col-10 col-md-9">
<form method="POST" id="NextForm">
    {% csrf_token %}
    <div class="form-group row">
      <div class="input-group">
        <input type="text" class="form-control" id="start" placeholder="start" value="{{ start }}"hidden>
                <input type="text" class="form-control" id="end" placeholder="end" value="{{ end}}" hidden>


      </div>
    </div>

  </form>
  <div id="contents">
    <hr />
    {% if page.has_other_pages %}
      <div class="pagination justify-content-center">

          {% if page.has_previous %}
          <a href="?&page={{page.previous_page_number}}" ng-click="clickMe()">Previous</a> -
          {% endif %}
          Page {{page.number}} / {{page.paginator.num_pages}}

          {% if page.has_next %}
            - <a href="?page={{page.next_page_number}}" ng-click="clickMe()">Next</a>
          {% endif %}
        </div>
      {% endif %}
          <hr />
<div class="container">
  <div class="row">

    {% for item in page_obj %}

          {% if forloop.counter == size%}
        <div class="col-sm-4">
          <div class="card-group">
            <div class="card" >
              <a href="{{ item.3|slice:"2:-2" }}"><img src="{{item.2|slice:"2:-2"}}"  /></a>

              <div class="card-body">
                <h5 class="card-title"><a href="{{ item.3|slice:"2:-2" }}">{{item.1|slice:"2:-2"}}</a></h5>
                <p class="card-text">{{ item.0|slice:"2:150" }}</p>
                <p class="card-text"><small class="text-muted">Last updated {{ item.4|slice:"2:-2" }}</small></p>
              </div>
            </div>
          </div>
        </div>

          {% else %}

          <div class="col-sm-4">
            <div class="card-group">
              <div class="card" >
                <a href="{{ item.3|slice:"2:-1" }}"><img src="{{item.2|slice:"2:-1"}}"  /></a>

                <div class="card-body">
                <h5 class="card-title"><a href="{{ item.3|slice:"2:-1" }}">{{item.1|slice:"2:-1"}}</a></h5>
                <p class="card-text">{{ item.0|slice:"2:150" }}</p>
                <p class="card-text"><small class="text-muted">Last updated {{ item.4|slice:"2:-1" }}</small></p>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

    {% endfor %}
<br />

  </div>
</div>
  <hr />

{% if page.has_other_pages %}

    <div class="pagination justify-content-center">
      
        {% if page.has_previous %}
        <a href="?&page={{page.previous_page_number}}" ng-click="clickMe()">Previous</a> -
        {% endif %}
        Page {{page.number}} / {{page.paginator.num_pages}}

        {% if page.has_next %}
          - <a href="?page={{page.next_page_number}}" ng-click="clickMe()">Next</a>
        {% endif %}
      </div>

  {% endif %}


  </div>

  <script type="text/javascript">

    $('#loaderDiv').hide();
          $('#submit').click(function(){
             $('#loaderDiv').show();
          var user_tags_list;
          var predefined_tags_list;
          predefined_tags_list = $('#predefined_tags').val();
          user_tags_list = $('#user_tags').val();

          $.ajaxSetup({
              headers: { "X-CSRFToken": '{{csrf_token}}' }
            });
          $.ajax(
          {
              type:"POST",
              url: "{% url 'tagviewer' comment.id %}",
              data:{
                       predefined_tags: predefined_tags_list,
                       user_tags: user_tags_list,
          },
          success: function( data )
          {
            // payload



        location.reload(true);
        $('#loaderDiv').hide();


        } }); });




          </script>
</div>
</div>
<!--
{% for item in comments_details %}

      {% if forloop.counter == size%}
    <div class="col-sm-4">
      <div class="card-group">
        <div class="card" >
          <a href="{{ item.3|slice:"2:-2" }}">{{ forloop.counter }}<img src="{{item.2|slice:"2:-2"}}"  /></a>

          <div class="card-body">
            <h5 class="card-title"><a href="{{ item.3|slice:"2:-2" }}">{{item.1|slice:"2:-2"}}</a></h5>
            <p class="card-text">{{ item.0|slice:"2:-2" }}</p>
            <p class="card-text"><small class="text-muted">Last updated {{ item.4|slice:"2:-2" }}</small></p>
          </div>
        </div>
      </div>
    </div>

      {% else %}

      <div class="col-sm-4">
        <div class="card-group">
          <div class="card" >
            <a href="{{ item.3|slice:"2:-1" }}">{{ forloop.counter }}<img src="{{item.2|slice:"2:-1"}}"  /></a>

            <div class="card-body">
            <h5 class="card-title"><a href="{{ item.3|slice:"2:-1" }}">{{item.1|slice:"2:-1"}}</a></h5>
            <p class="card-text">{{ item.0|slice:"2:-1" }}</p>
            <p class="card-text"><small class="text-muted">Last updated {{ item.4|slice:"2:-1" }}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

{% endfor %}
-->
{% endblock %}
