{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="col-12 text-center fetcherloader"id='loaderDiv' >
{% include 'fetcherspinner.html'%}
</div>
<div class="col-12 text-center">


   <h1><span class="fa fa-sign-in"></span> Search for a video   </h1>
   <br />

   <div class="offset-2 col-10 col-md-9">
   <form method="POST" id="myForm" action="{% url 'home'%}">
       {% csrf_token %}
       <div class="form-group row">
         <div class="input-group">
           <input type="text" class="form-control" placeholder="Search for video in Youtube" name="videoSearch">

           <div class="input-group-append">
             <button class="btn btn-secondary" type="submit" onclick="showLoader();"  id="submit">
               <i class="fa fa-search"></i>
             </button>
           </div>
         </div>
       </div>

     </form>



   </div>
   <div  class="offset-2 col-10 col-md-9">

     {% if error %}
     <h3 class="alert alert-danger">{{ error }}</h3>
     {% endif %}
     {% if state %}
     <h3 class="alert alert-success">{{ state }}</h3>
     {% endif %}

   </div>

</div>
<br />
<br />



<script type="text/javascript">
$('.fetcherloader').hide()
function showLoader() {
  $('.fetcherloader').show();
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      $('.fetcherloader').hide();
    }
  };
  xhttp.open("GET", "{% url 'home' %}",False);
  xhttp.send();
}
</script>

{% endblock %}
