{% extends 'base.html'%}
{% load staticfiles %}
{% load highlight %}
{% block content %}
<div id="fetcherDiv">
  <div id ="cml" class="fetcher-loader">
      {% include 'commentsclassifierloader.html' %}
  </div>
</div>
<div class="container">
  <div class="col-12">
    <hr />
    <div class="myAlert-top alert alert-success text-center" style="position: fixed;bottom: 0px;left:2%;width: 96%;z-index: 999;">

{{comment_classifier_obj.video_Object.video_title}}
             <form method="post" action="{% url 'opinionclassifier' comment_classifier_obj.id %}">
                 <strong>&#128515; Process completed ,classify the comments based on Opinions &#128515; </strong><br />
                {% csrf_token %}
                 <button  type="submit" class="btn btn-outline-primary btn-sm "  ng-click="clickMe()">Opinion Classifier</button>
               </form>
    </div>
    <div class="page-header">
        <h1><small class="pull-right">{{ total_processed }} comments</small> Total Processed  </h1>
    </div>
  </div>
   <div class="col-12 text-center">
       <ol class="col-12 text-center breadcrumb">
           <li class="breadcrumb-item"><a ng-click="clickMe()" href="{% url 'home'%}">Home</a></li>
             <li class="breadcrumb-item"><a ng-click="clickMe()"href="{% url 'commentsdetail' comment_classifier_obj.comment_object.id%}">Comments Detail</a></li>
              <li class="breadcrumb-item"><a ng-click="clickMe()"href="{% url 'videoclassifer' comment_classifier_obj.comment_object.id %}">Classify Video</a></li>
             <li class="breadcrumb-item"><a ng-click="clickMe()"href="{% url 'langclassify' comment_classifier_obj.comment_object.id%}">Language Classifier </a></li>
           <li class="breadcrumb-item active">{{comment_classifier_obj.video_Object.video_title}}</li>
       </ol>
       <div class="col-12 text-center">
          <h3>Comment classifier for :{{video_Object.video_title}}  </h3>
          <hr>
          <h5><span class="badge badge-pill badge-secondary" >Userdefined Tag</span>
  <span class="badge badge-pill badge-success" >Predefined Tag</span></h5>
{% if tags_indicator %}
  {% if user_tags_list %}
      {% for tag in user_tags_list %}
      <span  class="badge badge-pill badge-secondary" >{{tag}}</span>
      {% endfor %}
  {% endif %}
  {% if predefined_tags_list %}
      {% for tag in predefined_tags_list %}
      <span  class="badge badge-pill badge-success" >{{tag}}</span>
      {% endfor %}
  {% endif %}
{% else %}
<h5><span class="badge badge-pill badge-danger" >&#128531;This video has no tags please return to tags Insertor in order  process tag classifications process &#128531;</span>></h5>

{% endif %}


       </div>

   </div>
   <div class="page-header">
       <h1><small class="pull-right">{{ total_processed }} comments</small> Total Processed  </h1>
   </div>
 </div>


  <div class="col-12">
    <hr />

  </div>



          <div class="col-12 text-center">

            <form method="post">
              {% csrf_token %}
              <div class="btn-group">

                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle dropdownlist " value= "English" data-toggle="dropdown">
                     English
                  </button>
                  <div class="dropdown-menu">
                    <button type="submit" id="pure_english" class="btn btn-secondary submit dropdown-item"name="pure_english_dic" value="pure_english_dic">pure_english_comments</button>
                    <button type="submit" id="emoji_pure_english_dic" class="btn btn-secondary submit dropdown-item"name="emoji_pure_english_dic" value="emoji_pure_english_dic">emoji_pure_english_comments</button>
                    <button type="submit" id="emoji_english_with_others_dic" class="btn btn-secondary submit dropdown-item"name="emoji_english_with_others_dic" value="emoji_english_with_others_dic">emoji_english_with_others_comments</button>
                    <button type="submit" id="english_with_others_dic" class="btn btn-secondary submit dropdown-item"name="english_with_others_dic" value="english_with_others_dic">english_with_others_comments</button>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle dropdownlist " value= "Arabic" data-toggle="dropdown">
                     Arabic
                  </button>
                  <div class="dropdown-menu">
                    <button type="submit" id="pure_arabic" class="btn btn-secondary submit dropdown-item"name="pure_arabic_dic" value="pure_arabic_dic">pure_arabic_comments</button>
                    <button type="submit" id="arabic_with_others_dic" class="btn btn-secondary submit dropdown-item"name="arabic_with_others_dic" value="arabic_with_others_dic">arabic_with_others_comments</button>
                    <button type="submit" id="emoji_arabic_with_others_dic" class="btn btn-secondary submit dropdown-item"name="emoji_arabic_with_others_dic" value="emoji_arabic_with_others_dic">emoji_arabic_with_others_comments</button>

                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle dropdownlist " value= "Mix" data-toggle="dropdown">
                     Mixed Language
                  </button>
                  <div class="dropdown-menu">
                  <button type="submit" id="ar_en_dic" class="btn btn-secondary submit dropdown-item"name="ar_en_dic" value="ar_en_dic">ar_en_comments</button>
                  <button type="submit" id="emoji_ar_en_dic" class="btn btn-secondary submit dropdown-item"name="emoji_ar_en_dic" value="emoji_ar_en_dic">emoji_ar_en_comments</button>
                  <button type="submit" id="mixed_lang_dic" class="btn btn-secondary submit dropdown-item"name="mixed_lang_dic" value="mixed_lang_dic">mixed_lang_comments</button>

                  <button type="submit" id="emoji_mixed_lang_dic" class="btn btn-secondary submit dropdown-item"name="emoji_mixed_lang_dic" value="emoji_mixed_lang_dic">emoji_mixed_lang_comments</button>

                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle dropdownlist " value= "pure_emoji" data-toggle="dropdown">
                     Pure Emoji
                  </button>
                  <div class="dropdown-menu">
                    <button type="submit" id="pure_emoji_dic" class="btn btn-secondary submit dropdown-item"name="pure_emoji_dic dropdown-item" value="pure_emoji_dic">pure_emoji_comments</button>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle dropdownlist " value= "Others" data-toggle="dropdown">
                     Other Language
                  </button>
                  <div class="dropdown-menu">
                    <button type="submit" id="other_language_dic" class="btn btn-secondary submit dropdown-item"name="other_language_dic" value="other_language_dic">other_language_dic</button>

                    <button type="submit" id="emoji_other_language_dic" class="btn btn-secondary submit dropdown-item"name="emoji_other_language_dic" value="emoji_other_language_dic">emoji_other_language_comments</button>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle dropdownlist" value= "useless_and_exceptions" data-toggle="dropdown">
                     useless_and_exceptions
                  </button>
                  <div class="dropdown-menu">
                    <button type="submit" id="exceptions_dic" class="btn btn-secondary submit dropdown-item"name="exceptions_dic" value="exceptions_dic">exceptions_comments</button>
                    <button type="submit" id="useless_comment_dic" class="btn btn-secondary submit dropdown-item"name="useless_comment_dic" value="useless_comment_dic">useless_comments</button>
                    <button type="submit" id="emoji_exceptions_dic" class="btn btn-secondary submit dropdown-item"name="emoji_exceptions_dic" value="emoji_exceptions_dic">emoji_exceptions_comments</button>
                    <button type="submit" id="emoji_useless_comment_dic" class="btn btn-secondary submit dropdown-item"name="emoji_useless_comment_dic" value="emoji_useless_comment_dic">emoji_useless_comments</button>
                  </div>
                </div>
              </div>





            </form>
          </div>
          <hr />
          <canvas id="dictionariesChart" width="100%" height="20%"></canvas>
            <script type="text/javascript" src="{% static 'JS\charts\Chart.min.js'%}"></script>
          <script type="text/javascript">
          var ctx = document.getElementById('dictionariesChart').getContext('2d');
          var dictionariesChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: ['English', 'Pure_Emoji', 'Arabic', 'Mixed', 'Other_Language', 'useless_and_exceptions'],
                  datasets: [{
                      label: '# of comments',
                      data: [{% for key, value in dictionay_length_pairs.items %}
                          {{value}},
                      {% endfor %}],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true
                          }
                      }]
                  }
              }
          });
          </script>
        <div id="contents"  class="col-12" >


        </div>
        <div class="modal fade" id="classifingProcessor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="classifingType"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="post" >
                  {% csrf_token %}
                  <div class="form-group row">

                      <div class="col-md-12 ">
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary servicetype" value="allComments">All comments </button>
                            <button type="button" class="btn btn-primary servicetype" value="relatedWithOthers">Related with others </button>
                              <button type="button" class="btn btn-primary servicetype" value="relatedTothisVideo">Related to this video </button>
                            <span class="caret"></span>
                          </button>
                        </div>
                      </div>


                  </div>

                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="commentsViewer" class="btn btn-primary">show the comments </button>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
           <hr /><br />
          </div>
          <div class="row recommandations">


          </div>
        </div>
        <script type="text/javascript">
              $("#fetcherDiv").hide();
              /*$('#loaderDiv').hide();*/
            var category = '';
            var servicetype = 'None';
            var dic_name ="";
            $('.dropdownlist').on('click', function () {

              $(this).css("color", "black").slideUp(50).slideDown(2000);
              var outterbutton = $(this);
              category = outterbutton.val();
              $('.dropdownlist').css("color", "white");
              $('.dropdownlist').removeClass("btn-success").addClass("btn-primary");

    });

              $('.submit').on('click', function () {

                var dic_name = $(this).val();


                $(this).removeClass("btn-secondary").addClass("btn-warning");
                $('#classifingType').text(dic_name);
                $("#classifingProcessor").modal('show');
                $(".servicetype").click(function(){
                  $(".servicetype").removeClass("btn-warning").addClass("btn-primary");
                  $(this).removeClass("btn-primary").addClass("btn-warning");
                  servicetype = $(this).val();


                  $("#commentsViewer").click(function(event){

                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    $('#contents').empty();
                    $("#fetcherDiv").show();
                    $.ajaxSetup({
                        headers: { "X-CSRFToken": '{{csrf_token}}' }
                      });
                    $.ajax(
                    {
                        type:"POST",
                        url: "{% url 'dictionariesfetcher' comment_classifier_obj.id %}",
                        data:{
                          dic_name :dic_name ,
                          category : category ,
                          servicetype : servicetype ,
                        },
                    success: function( data )
                    {
                      // payload
                      dic_name ='' ;
                      category = '' ;
                      servicetype = '';
                      $(".dropdownlist").on('click',function(){
                        category = $(this).val();
                      });

                      $(".submit").on('click',function(){
                         dic_name = $(this).val();
                         $(".servicetype").on('click',function(){
                           servicetype = $(this).val();
                         });
                      });



                      $('#contents').empty();
                      var url = "{% url 'dectionaryviewer' lang_classifier_obj_id "+'dic_name'+" "+'category'+" "+'servicetype'+"%}".replace("dic_name",data.success);
                      url = url.replace("category",data.category);
                      url = url.replace("servicetype",data.servicetype);
                      url = url.replace("+&#39;","");
                      url = url.replace("&#39;+","");
                      url = url.replace("+&#39;","");
                      url = url.replace("&#39;+","");
                      url = url.replace("+&#39;","");
                      url = url.replace("&#39;+","");
                      var nextPageBaseUrl = url + "?page=" ;
                      var prevPageBaseUrl = url + "?&page=" ;
                      var numberOfPages = 0 ;
                      var currentPage = 0 ;
                      $("#classifingProcessor").modal('hide');

                      $('#contents').html('').load(url,function(){
                      currentPageStr = $('.currentPage').val();
                      numberOfPagesStr = $('.numberOfPages').val();
                      currentPage = parseInt(currentPageStr);
                      nextPageNum = currentPage + 1 ;
                      nextPageNumStr = nextPageNum.toString();
                      numberOfPages = parseInt(numberOfPagesStr);
                      var pageURL = "" ;
                      nextPageUrl = nextPageBaseUrl + nextPageNumStr ;
                      var temp = "";
                      if(numberOfPages > 1){
                        var text = '<nav style="border-style: dotted;border-width: thick;" aria-label="Page navigation example"><h3 class="justify-content-center">Pages</h3><ul class="pagination">';
                        var active = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';




                        $('.pagination').empty();
                        for(var i = 1 ;i <= numberOfPages;i++){

                          pageURL = nextPageBaseUrl + i;
                          if(i == currentPage){

                          }else{

                          }
                          if(i == numberOfPages){
                            if(i == currentPage){
                              text = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';
                              text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                            }else{
                              text = '<li class="page-item"><a id="'+i.toString()+'" class="page-link urls" href="'+pageURL+'" aria-label="Last-Page"><span aria-hidden="true">'+i.toString()+'</span>';
                              text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                            }
                            $('.pagination').append(text);
                          }else if(i == 1){
                            if(i == currentPage){
                              text = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';
                              text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                            }else{
                              text = ' <li class="page-item"><a id="'+i.toString()+'" class="page-link urls" href="'+pageURL+'" aria-label="First-Page">';
                              text += '<span aria-hidden="true">'+i.toString()+'</span><span class="sr-only">First-Page</span></a></li>';
                            }

                            $('.pagination').append(text);
                          }else{
                            if(i == currentPage){
                              text = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';
                              text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                            }else{
                              text = '<li class="page-item"><a id="'+i.toString()+'" class="page-link urls" href="'+pageURL+'">'+i.toString()+'</a></li> ';
                            }


                            $('.pagination').append(text);

                          }




                        }


                        }
                        $(document).on("click", "a.urls" , function(e) {
                          $("#fetcherDiv").show();
                          e.stopPropagation();
                          e.preventDefault();
                          temp = $(this).attr('href');
                          $('#contents').empty();

                          $('#contents').html('').load(temp,function(){
                            for(var i = 1 ;i <= numberOfPages;i++){
                              currentPageStr = $('.currentPage').val();
                              currentPage = parseInt(currentPageStr);
                              pageURL = nextPageBaseUrl + i;
                              if(i == currentPage){

                              }else{

                              }
                              if(i == numberOfPages){
                                if(i == currentPage){
                                  text = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';
                                  text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                                }else{
                                  text = '<li class="page-item"><a id="'+i.toString()+'" class="page-link urls" href="'+pageURL+'" aria-label="Last-Page"><span aria-hidden="true">'+i.toString()+'</span>';
                                  text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                                }
                                $('.pagination').append(text);
                              }else if(i == 1){
                                if(i == currentPage){
                                  text = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';
                                  text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                                }else{
                                  text = ' <li class="page-item"><a id="'+i.toString()+'" class="page-link urls" href="'+pageURL+'" aria-label="First-Page">';
                                  text += '<span aria-hidden="true">'+i.toString()+'</span><span class="sr-only">First-Page</span></a></li>';
                                }

                                $('.pagination').append(text);
                              }else{
                                if(i == currentPage){
                                  text = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';
                                  text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                                }else{
                                  text = '<li class="page-item"><a id="'+i.toString()+'" class="page-link urls" href="'+pageURL+'">'+i.toString()+'</a></li> ';
                                }


                                $('.pagination').append(text);

                              }





                            }
                            $("#fetcherDiv").hide();


                          });


                        });


                      $("#fetcherDiv").hide();

                    });








                  }});
                  });
                });
                //$("#fetcherDiv").show();






            });

        </script>

        <script type="text/javascript">
        //$('.recommandations').hide();
        var count = 1;
        var temp ="";
        if(count == 1){
          $(window).scroll(function(){
        if($(window).scrollTop() == $(document).height()-$(window).height()){

            var video_title =  '{{video_titles_sets}}';

            while(video_title.includes("&#39;")){

              video_title = video_title.replace("&#39;","");
              video_title = video_title.replace("]","");
              video_title = video_title.replace("[","");
              video_title = video_title.replace(" ","");
            }


            $.ajaxSetup({
                headers: { "X-CSRFToken": '{{csrf_token}}' }
              });
              $.ajax(
              {
                  type:"POST",
                  url: "{% url 'recommandations' comment_classifier_obj.comment_objID %}",
                  data:{

                    video_title : video_title,
              },
              success: function( data )
              {
                // payload

              if(data['state'] == 'success'){

          var text = '<div class="header col-12 alert-success"><h1>Related Videos &#128515; :</h1><br /></div>';
        if (count == 1 ){
          var videoIds = [];
          var url = '';
           for(i = 0 ; i < data['video_sets'].length ; i++)
           {    videoIds[i] =  parseInt(data['video_ids'][i]);
               console.log(videoIds[i]);
               if (videoIds[i] != {{comment_classifier_obj.comment_objID}}){
                 url = "http://127.0.0.1:8000/comments/commentsdetail/comment.id".replace("comment.id",videoIds[i]);

                 console.log(url);
                 console.log(videoIds);

                 text += '<div class="col-lg-3 col-md-4 col-xs-6 thumb">'
                     + ' <div class="embed-responsive embed-responsive-21by9">'
                     +   '  <iframe class="embed-responsive-item" src="'+data['video_waching_urls'][i]+'"></iframe>'

                     +  '  </div>'
                       + '<p class="card-title video_title" ng-click="clickMe()" ><a href="'+url+'" >'+data['video_sets'][i]+'</a>  ,CATEGORY : '+data['video_categories'][i]+'</p>'
                     +'</div>';
                 $('.recommandations').append(text);
                 text = '';
               }
               else{
                 console.log('not found');
               }
          }
        }

        count += 1;



        }

            },

            error: function(XMLHttpRequest, textStatus, errorThrown) {

              if(count == 1){
                text = '<div class="container-fluid"><div style="background-color: #009688">';
                text += '<p class="text-center alert-danger text-center" style="color: #fff;"> &#128531; There is no videos related to this video in our database &#128531;</p>'
                text += '</div></div>';

                $('.recommandations').append(text);
                text = '';
              }
              count += 1;
            }
           });

        }  });
        }



                </script>




{% endblock %}
