{% load highlight %}
{% load staticfiles %}


<div id="header" class="col-12">
<hr />
{% if dic|length > 0 %}

  <div class="page-header">
    <h1><small class="pull-right">
      {{ dic|length }} comments</small> <span class="badge badge-success" title="{{ dic|length }}"> {{ dic_name }} </span>, with Query :  <span class="badge badge-info" title="query type"> {{ servicetype }} </span></h1>
    </div>
</div>
<div class="col-12 text-center">
   <h3 class="text-center">Videos Tags as Classified in Video Classifier   </h3>
   <hr>

   <h5><span class="badge badge-pill badge-secondary" >Video's Specification Tag</span>
<span class="badge badge-pill badge-success" >Video's primary tags</span></h5>

{% if video_classified_specifiaction_tag %}
  {% for tag in video_classified_specifiaction_tag %}
  <span  class="badge badge-pill badge-secondary" >{{tag|safe}}</span>
  {% endfor %}
{% else %}
<h5><span class="badge badge-pill badge-danger" >&#128531;This video has no specifications tags please return to Video Classifier in order  process tag classifications process &#128531;</span>></h5>

{% endif %}
{% if video_classified_titles_tag %}
  {% for tag in video_classified_titles_tag %}
  <span  class="badge badge-pill badge-success" >{{tag|safe}}</span>
  {% endfor %}
{% else %}

<h5><span class="badge badge-pill badge-danger" >&#128531;This video has no titles tags please return to Video Classifier in order  process tag classifications process &#128531;</span>></h5>

{% endif %}


</div>
{% else %}

  <div class="page-header">
    <h1><small class="pull-right">
      0 comments</small> <span class="badge badge-danger" title="{{ dic|length }}"> {{ dic_name }} </span> </h1>

    </div>


{% endif %}



  {% if dic|length > 0 %}

  <div class="col-12">

    <!-- Tabs-->
            <div class="row row-content">
                <div class="col-12">
                    <h2>Charts</h2>
                      <script type="text/javascript" src="{% static 'JS\charts\Chart.min.js'%}"></script>
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" href="#dictionariesChartPerCatgTab"
                         role="tab" data-toggle="tab">dictionaries Per Catg Chart  </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#relatedVideosTab"
                         role="tab" data-toggle="tab">Related To Videos Chart </a>
                      </li>

                    </ul>
                     <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="dictionariesChartPerCatgTab">

                            <canvas id="dictionariesChartPerCatg" width="100%" height="20%"></canvas>

                            <script type="text/javascript">
                            var ctx = document.getElementById('dictionariesChartPerCatg').getContext('2d');
                            var dictionariesChartPerCatg = new Chart(ctx, {
                                type: 'pie',
                                data: {
                                    labels: [{% for key,value in dictionary_among_one_category.items %}
                                        '{{key}}',
                                    {% endfor %}],
                                    datasets: [{
                                        label: '# of comments per Category',
                                        data: [{% for key, value in dictionary_among_one_category.items %}
                                            {{value}},
                                        {% endfor %}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                }
                            });


                            </script>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="relatedVideosTab">
                          <canvas id="relatedVideos" width="100%" height="20%"></canvas>
                          <script type="text/javascript">

                          var ctx_related = document.getElementById('relatedVideos').getContext('2d');
                          var relatedVideos = new Chart(ctx_related, {
                              type: 'bar',
                              data: {
                                  labels: ['all comments' , 'related with others' , 'related to this Video'],
                                  datasets: [{
                                      label: '# Related comments',
                                      data: [{{dic|length}} , {{video_titles_linker_total}} , {{video_specification_linker_total}}],
                                      backgroundColor: [
                                          'rgba(255, 99, 132, 0.2)',
                                          'rgba(54, 162, 235, 0.2)',
                                          'rgba(255, 206, 86, 0.2)',
                                          'rgba(75, 192, 192, 0.2)',
                                          'rgba(153, 102, 255, 0.2)',
                                          'rgba(255, 159, 64, 0.2)'
                                      ],
                                      borderColor: [
                                          'rgba(255, 99, 132, 1)',
                                          'rgba(54, 162, 235, 1)',
                                          'rgba(255, 206, 86, 1)',
                                          'rgba(75, 192, 192, 1)',
                                          'rgba(153, 102, 255, 1)',
                                          'rgba(255, 159, 64, 1)'
                                      ],
                                      borderWidth: 1
                                  }]
                              }
                          });

                        </script>
                        </div>


                      </div>
                  </div>
           </div>


  </div>
  <hr />
  {% if page.has_other_pages %}
  <input type="text" class="currentPage" value="{{page.number}}" hidden/>
  <input type="text" class="numberOfPages" value="{{page.paginator.num_pages}}" hidden/>

    <div class="pagination justify-content-center" style="border-style: solid;border-width: 1px;display: flex;overflow-x: auto;">


      </div>
    {% endif %}
        <hr />
          <div class="container" style="border-style: solid;border-width: 1px;">


              {% if servicetype == 'relatedWithOthers' %}
                {% if video_titles_linker_total != 0 %}
                        <h3 class="text-center badge-success" > Query Result :  {{video_titles_linker_total}} Comments</h3>
                {% else %}
              <h3 class="text-center badge-danger" > Query Result :  {{video_titles_linker_total}} Comments</h3>
              <h3 class="text-center badge-info" >We will dispaly the all possible comments for {{dic_name}} to select the best tags</h3>
                {% endif %}

              {% endif %}
              {% if servicetype == 'relatedTothisVideo' %}
              {% if video_specification_linker_total != 0 %}
                      <h3 class="text-center badge-success" > Query Result :  {{video_specification_linker_total}} Comments</h3>
              {% else %}
            <h3 class="text-center badge-danger" > Query Result :  {{video_specification_linker_total}} Comments</h3>
            <h3 class="text-center badge-info" >We will dispaly the all possible comments for {{dic_name}} to select the best tags</h3>
              {% endif %}

              {% endif %}

              {% if servicetype == 'allComments' %}
                <h3 class="text-center badge-success" > Query Result :  {{dic|length}} Comments </h3>
              {% endif %}

              <div class="row">
                <hr />
                      {% for item in page_obj %}



                        <div class="col-sm-4">
                          <div class="card-group">
                            <div class="card" title="{% if item.13 and item.12 %}

                                                      {% if item.12 %}
                                                      related videos :
                                                          {% for item in item.12%}
                                                            {{ item }}  ,
                                                            {% endfor %}
                                                      {% endif %}
                                                      {% if item.13 %}
                                                      ** This Video :
                                                          {% for item in item.13%}
                                                            {{ item }}  ,
                                                            {% endfor %}
                                                      {% endif %}
                                                      {% elif  item.12 %}
                                                            related To This video :
                                                                {% for item in item.12%}
                                                                  {{ item }}  ,
                                                                  {% endfor %}
                                                        {% elif item.13 %}
                                                        related videos :
                                                            {% for item in item.13%}
                                                              {{ item }}  ,
                                                              {% endfor %}
                                                        {% endif %}
                                                       " >
                            <a href="{{ item.3  }}"><img src="{{item.2 }}"  /></a>
                              <div class="card-body">
                                <p class="card-text" title="{{item.5}}">

                              {% if item.14 and item.15 %}

                                <p class="card-text" title="{{ item.5 }}">{{ item.0|safe|highlighttitle:item.14|highlightspecification:item.15}}<br />
                                <table >
                                    <tr>
                                {% if item.14%} <!-- predefined -->

                                    {% for tag,repeat in item.16 %}<!-- predefined -->
                                      <thead>
                                      <td><span class="badge badge-pill badge-success" >{{tag}}</span> </td>
                                      <td scope="row">{{repeat }} times</td>
                                      </thead>
                                    {% endfor %}

                                {% endif %}
                                {% if item.15 %}
                                  {% for tag,repeat in item.17 %}<!-- userdefined -->
                                    <thead>
                                    <td><span class="badge badge-pill badge-secondary" >{{tag}}</span> </td>
                                    <td scope="row">{{repeat }} times</td>
                                    </thead>
                                  {% endfor %}
                                {% endif %}
                                </tr>
                                </table>
                                </p>
                                <p class="card-text" style="position:absolute;right:3px;bottom:5px;"><small class="text-muted">Last updated {{ item.4 }}</small></p>
                              {% elif item.14 %}
                                <p class="card-text"  title="{{ item.5 }}">{{ item.0|safe|highlighttitle:item.14}} <br />
                                  <table > <tr>  <thead>
                                  {% for tag,repeat in item.16 %}<!-- predefined -->
                                    <thead>
                                    <td><span class="badge badge-pill badge-success" >{{tag}}</span> </td>
                                    <td scope="row">{{repeat }} times</td>
                                    </thead>
                                  {% endfor %}
                                </thead>
                                </tr>
                                </table></p>
                                <p class="card-text" style="position:absolute;right:3px;bottom:5px;"><small class="text-muted">Last updated {{ item.4 }}</small></p>
                              {%elif item.15 %}
                                <p class="card-text"  title="{{ item.5 }}">{{ item.0|safe|highlightspecification:item.15}}<br />
                                <table><tr>  <thead>
                                  {% for tag,repeat in item.17 %}<!-- userdefined -->
                                  <thead>
                                    <td><span class="badge badge-pill badge-secondary" >{{tag}}</span> </td>
                                    <td scope="row">{{repeat }} times</td>
                                  </thead>
                                  {% endfor %}
                                    </thead>
                                </tr>

                                </table>
                                </p>
                                <p class="card-text" style="position:absolute;right:3px;bottom:5px;"><small class="text-muted">Last updated {{ item.4 }}</small></p>
                                {% else %}
                                  <p class="card-text"  title="{{ item.5 }}">{{ item.0|safe|slice:"0:50"}}</p><br />
                                  <p class="card-text"style="position:absolute;right:3px;bottom:5px;" ><small class="text-muted">Last updated {{ item.4 }}</small></p>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}

    </div>


          </div>
{% if page.has_other_pages %}
  <hr />  <br />
  <div class="pagination justify-content-center" style="border-style: solid;border-width: 1px;display: flex;overflow-x: auto;">
  </div>
{% endif %}        <hr />
    {% else %}
  <div class="col-12 text-center">
    <h3> This video hasn't any {{ dic_name }} comments .</h3>
  </div>
{% endif %}
