{% load highlight %}
{% load staticfiles %}


<div id="header" class="col-12">
<hr />
{% if dic|length > 0 %}

  <div class="page-header">
    <h1><small class="pull-right">
      {{ dic|length }} comments</small> <span class="badge badge-success" title="{{ dic|length }}"> {{ dic_name }} </span></h1>
    </div>
</div>
{% else %}

  <div class="page-header">
    <h1><small class="pull-right">
      0 comments</small> <span class="badge badge-danger" title="{{ dic|length }}"> {{ dic_name }} </span> </h1>

    </div>


{% endif %}



  {% if dic|length > 0 %}
  <div class="col-12">
    <h1 class="text-center"> comments over one category </h1>
    <canvas id="dictionariesChartPerCatg" width="100%" height="20%"></canvas>
      <script type="text/javascript" src="{% static 'JS\charts\Chart.min.js'%}"></script>
    <script type="text/javascript">
    var ctx = document.getElementById('dictionariesChartPerCatg').getContext('2d');
    var dictionariesChartPerCatg = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [{% for key,value in dictionary_among_one_category.items %}
                '{{key}}',
            {% endfor %}],
            datasets: [{
                label: '# of comments per Category',
                data: [{% for key, value in dictionary_among_one_category.items %}
                    {{value}},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        }
    });
    </script>
  </div>
  <hr />
  {% if page.has_other_pages %}
  <input type="text" class="currentPage" value="{{page.number}} " hidden/>
  <input type="text" class="numberOfPages" value="{{page.paginator.num_pages}} " hidden/>

    <div class="pagination justify-content-center" style="border-style: solid;border-width: 1px;">


      </div>
    {% endif %}
        <hr />
          <div class="container" style="border-style: solid;border-width: 1px;">


          <div class="row">
            <hr />


                  {% for item in page_obj %}


                      <div class="col-sm-4">
                        <div class="card-group">
                          <div class="card" title="" >
                            <a href="{{ item.3  }}">
                              <img src="{{item.2 }}"  />
                              <h5 class="card-title">
                                <a href="{{ item.3  }}">{{item.1 }}
                              </a>
                            </h5>
                          </a>

                            <div class="card-body">

                              <p class="card-text" title="{{item.5}}">

                                <p class="card-text "title="{{ item.5 }}">{{ item.0|slice:"0:200"}}</p><br />
                                <p class="card-text"style="position:absolute;right:3px;bottom:5px;" >
                                  <small class="text-muted">
                                    Last updated {{ item.4 }}
                                  </small>
                                </p>




                               </p>

                            </div>
                          </div>
                        </div>
                      </div>
                  {% endfor %}




</div>
</div>
{% if page.has_other_pages %}
  <hr />  <br />
  <div class="pagination justify-content-center" style="border-style: solid;border-width: 1px;display: flex;overflow-x: auto;">


    </div>
  {% endif %}        <hr />
      {% else %}
      <div class="col-12 text-center">
      <h3> This video hasn't any {{ dic_name }} comments .</h3>
      </div>



{% endif %}
