{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<div id="fetcherDiv">
  <div class="fetcher-loader">
    {% include 'proccessingloader.html' %}
  </div>
</div>




<div class="container">
   <div class="col-12 text-center">
       <ol class="col-12 text-center breadcrumb">
           <li class="breadcrumb-item"><a ng-click="clickMe()" href="{% url 'home'%}">Home</a></li>
          <li class="breadcrumb-item"><a ng-click="clickMe()"href="{% url 'commentsdetail' comment_obj.id%}">Comments Detail</a></li>
          <li class="breadcrumb-item"><a ng-click="clickMe()"href="{% url 'videoclassifer' comment_obj.id%}">Classify Video</a></li>
           <li class="breadcrumb-item active">Language Classifier for {{video_Object.video_title}}</li>
       </ol>
       <div class="col-12 text-center">
          <h3>Language classifier for :{{video_Object.video_title}}  </h3>
          <hr>
          {{status}}
       </div>
   </div>
   <div class="col-12">
     <hr />
     <div class="myAlert-top alert alert-success text-center" style="position: fixed;bottom: 0px;left:2%;width: 96%;z-index: 999;">

{{video_Object.video_title}}
              <form method="post" action="{% url 'classify' lang_classifier.id %}">
                  <strong>&#128515; Proccess completed ,classify the comments based on Tags &#128515; </strong><br />
                 {% csrf_token %}
                  <button  type="submit" class="btn btn-outline-primary btn-sm "  ng-click="clickMe()">Comments Classifier</button>
                </form>
     </div>
     <div class="page-header">
         <h1><small class="pull-right">{{ total_processed }} comments</small> Total Proccessed  </h1>
     </div>
   </div>

</div>

  <div class="col-12">
    <hr />

  </div>



        <div class="col-12 text-center">

          <form method="post">
            {% csrf_token %}
            <div class="btn-group">

              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle dropdownlist " value= "English" data-toggle="dropdown">
                   English
                </button>
                <div class="dropdown-menu">
                  <button type="submit" id="pure_english_dic" class="btn btn-secondary submit dropdown-item"name="pure_english_dic" value="pure_english_dic">pure_english_comments</button>
                  <button type="submit" id="emoji_pure_english_dic" class="btn btn-secondary submit dropdown-item"name="emoji_pure_english_dic" value="emoji_pure_english_dic">emoji_pure_english_comments</button>
                  <button type="submit" id="emoji_english_with_others_dic" class="btn btn-secondary submit dropdown-item"name="emoji_english_with_others_dic" value="emoji_english_with_others_dic">emoji_english_with_others_comments</button>
                  <button type="submit" id="english_with_others_dic" class="btn btn-secondary submit dropdown-item"name="english_with_others_dic" value="english_with_others_dic">english_with_others_comments</button>
                </div>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle dropdownlist " value= "Arabic" data-toggle="dropdown">
                   Arabic
                </button>
                <div class="dropdown-menu">
                  <button type="submit" id="pure_arabic_dic" class="btn btn-secondary submit dropdown-item"name="pure_arabic_dic" value="pure_arabic_dic">pure_arabic_comments</button>
                  <button type="submit" id="arabic_with_others_dic" class="btn btn-secondary submit dropdown-item"name="arabic_with_others_dic" value="arabic_with_others_dic">arabic_with_others_comments</button>
                  <button type="submit" id="emoji_arabic_with_others_dic" class="btn btn-secondary submit dropdown-item"name="emoji_arabic_with_others_dic" value="emoji_arabic_with_others_dic">emoji_arabic_with_others_comments</button>
                  <button type="submit" id="emoji_pure_arabic_dic" class="btn btn-secondary submit dropdown-item"name="emoji_pure_arabic_dic" value="emoji_pure_arabic_dic">emoji_pure_arabic_dic</button>
                </div>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle dropdownlist " value= "Mix" data-toggle="dropdown">
                   Mixed Language
                </button>
                <div class="dropdown-menu">
                <button type="submit" id="ar_en_dic" class="btn btn-secondary submit dropdown-item"name="ar_en_dic" value="ar_en_dic">ar_en_comments</button>
                <button type="submit" id="emoji_ar_en_dic" class="btn btn-secondary submit dropdown-item"name="emoji_ar_en_dic" value="emoji_ar_en_dic">emoji_ar_en_comments</button>
                <button type="submit" id="mixed_lang_dic" class="btn btn-secondary submit dropdown-item"name="mixed_lang_dic" value="mixed_lang_dic">mixed_lang_comments</button>

                <button type="submit" id="emoji_mixed_lang_dic" class="btn btn-secondary submit dropdown-item"name="emoji_mixed_lang_dic" value="emoji_mixed_lang_dic">emoji_mixed_lang_comments</button>

                </div>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle dropdownlist " value= "pure_emoji" data-toggle="dropdown">
                   Pure Emoji
                </button>
                <div class="dropdown-menu">
                  <button type="submit" id="pure_emoji_dic" class="btn btn-secondary submit dropdown-item"name="pure_emoji_dic dropdown-item" value="pure_emoji_dic">pure_emoji_comments</button>
                </div>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle dropdownlist " value= "Others" data-toggle="dropdown">
                   Other Language
                </button>
                <div class="dropdown-menu">
                  <button type="submit" id="other_language_dic" class="btn btn-secondary submit dropdown-item"name="other_language_dic" value="other_language_dic">other_language_dic</button>

                  <button type="submit" id="emoji_other_language_dic" class="btn btn-secondary submit dropdown-item"name="emoji_other_language_dic" value="emoji_other_language_dic">emoji_other_language_comments</button>
                </div>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle dropdownlist" value= "useless_and_exceptions" data-toggle="dropdown">
                   useless_and_exceptions
                </button>
                <div class="dropdown-menu">
                  <button type="submit" id="exceptions_dic" class="btn btn-secondary submit dropdown-item"name="exceptions_dic" value="exceptions_dic">exceptions_comments</button>
                  <button type="submit" id="useless_comment_dic" class="btn btn-secondary submit dropdown-item"name="useless_comment_dic" value="useless_comment_dic">useless_comments</button>
                  <button type="submit" id="emoji_exceptions_dic" class="btn btn-secondary submit dropdown-item"name="emoji_exceptions_dic" value="emoji_exceptions_dic">emoji_exceptions_comments</button>
                  <button type="submit" id="emoji_useless_comment_dic" class="btn btn-secondary submit dropdown-item"name="emoji_useless_comment_dic" value="emoji_useless_comment_dic">emoji_useless_comments</button>
                </div>
              </div>
            </div>





          </form>
        </div>
        <hr />

        <canvas id="dictionariesChart" width="100%" height="20%"></canvas>
          <script type="text/javascript" src="{% static 'JS\charts\Chart.min.js'%}"></script>
        <script type="text/javascript">
        var ctx = document.getElementById('dictionariesChart').getContext('2d');
        var dictionariesChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['English', 'Pure_Emoji', 'Arabic', 'Mixed', 'Other_Language', 'useless_and_exceptions'],
                datasets: [{
                    label: '# of comments',
                    data: [{% for key, value in dictionay_length_pairs.items %}
                        {{value}},
                    {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>
        <div id="contents"  class="col-12" >

        </div>

        <script type="text/javascript">
              $("#fetcherDiv").hide();
              /*$('#loaderDiv').hide();*/
              $('.dropdownlist').on('click', function () {
                  var outterbutton = $(this);
                  var category = outterbutton.val();
                  $(this).css("color", "black").slideUp(50).slideDown(2000);
                  $('.dropdownlist').css("color", "white");
                  $('.dropdownlist').removeClass("btn-success").addClass("btn-primary");
                  outterbutton.removeClass("btn-primary").addClass("btn-success");
                  $('.submit').slideUp(50).slideDown(2000);

              $('.submit').on('click', function (event) {
                event.stopPropagation();
                event.stopImmediatePropagation();
                var dic_name = $(this).val();
                $(this).removeClass("btn-secondary").addClass("btn-warning");
                $('.dropdownlist').removeClass("btn-success").addClass("btn-primary");
                outterbutton.removeClass("btn-primary").addClass("btn-success");
                  $("#fetcherDiv").show();
                $("button[value='"+dic_name+"']").removeClass("btn-secondary").addClass("btn-warning");
              $.ajaxSetup({
                  headers: { "X-CSRFToken": '{{csrf_token}}' }
                });
              $.ajax(
              {
                  type:"POST",
                  url: "{% url 'langdictionariesfetcher' lang_classifier.id %}",
                  data:{
                    dic_name :dic_name ,
                    category : category ,
                  },
              success: function( data )
              {
                // payload

                var url = "{% url 'langdectionaryviewer' comment_obj.id "+'dic_name'+" "+'category'+" %}".replace("dic_name",data.success);
                url = url.replace("category",data.category);
                url = url.replace("+&#39;","");
                url = url.replace("&#39;+","");
                url = url.replace("+&#39;","");
                url = url.replace("&#39;+","");

                var nextPageBaseUrl = url + "?page=" ;
                var prevPageBaseUrl = url + "?&page=" ;
                var numberOfPages = 0 ;
                var currentPage = 0 ;
                $('#contents').html('').load(url,function(){
                currentPageStr = $('.currentPage').val();
                numberOfPagesStr = $('.numberOfPages').val();
                currentPage = parseInt(currentPageStr);
                nextPageNum = currentPage + 1 ;
                nextPageNumStr = nextPageNum.toString();
                numberOfPages = parseInt(numberOfPagesStr);
                var pageURL = "" ;
                nextPageUrl = nextPageBaseUrl + nextPageNumStr ;
                var temp = "";
                if(numberOfPages > 1){
                  var text = '<nav style="border-style: dotted;border-width: thick;" aria-label="Page navigation example"><h3 class="justify-content-center">Pages</h3><ul class="pagination">';
                  var active = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';




                  $('.pagination').empty();
                  for(var i = 1 ;i <= numberOfPages;i++){

                    pageURL = nextPageBaseUrl + i;
                    if(i == currentPage){

                    }else{

                    }
                    if(i == numberOfPages){
                      if(i == currentPage){
                        text = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';
                        text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                      }else{
                        text = '<li class="page-item"><a id="'+i.toString()+'" class="page-link urls" href="'+pageURL+'" aria-label="Last-Page"><span aria-hidden="true">'+i.toString()+'</span>';
                        text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                      }
                      $('.pagination').append(text);
                    }else if(i == 1){
                      if(i == currentPage){
                        text = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';
                        text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                      }else{
                        text = ' <li class="page-item"><a id="'+i.toString()+'" class="page-link urls" href="'+pageURL+'" aria-label="First-Page">';
                        text += '<span aria-hidden="true">'+i.toString()+'</span><span class="sr-only">First-Page</span></a></li>';
                      }

                      $('.pagination').append(text);
                    }else{
                      if(i == currentPage){
                        text = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';
                        text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                      }else{
                        text = '<li class="page-item"><a id="'+i.toString()+'" class="page-link urls" href="'+pageURL+'">'+i.toString()+'</a></li> ';
                      }


                      $('.pagination').append(text);
                    }




                  }


                  }
                  $(document).on("click", "a.urls" , function(e) {
                    $("#fetcherDiv").show();
                    e.stopPropagation();
                    e.preventDefault();
                    temp = $(this).attr('href');
                    $('#contents').empty();

                    $('#contents').html('').load(temp,function(){
                      for(var i = 1 ;i <= numberOfPages;i++){
                        currentPageStr = $('.currentPage').val();
                        currentPage = parseInt(currentPageStr);
                        pageURL = nextPageBaseUrl + i;
                        if(i == currentPage){

                        }else{

                        }
                        if(i == numberOfPages){
                          if(i == currentPage){
                            text = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';
                            text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                          }else{
                            text = '<li class="page-item"><a id="'+i.toString()+'" class="page-link urls" href="'+pageURL+'" aria-label="Last-Page"><span aria-hidden="true">'+i.toString()+'</span>';
                            text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                          }
                          $('.pagination').append(text);
                        }else if(i == 1){
                          if(i == currentPage){
                            text = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';
                            text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                          }else{
                            text = ' <li class="page-item"><a id="'+i.toString()+'" class="page-link urls" href="'+pageURL+'" aria-label="First-Page">';
                            text += '<span aria-hidden="true">'+i.toString()+'</span><span class="sr-only">First-Page</span></a></li>';
                          }

                          $('.pagination').append(text);
                        }else{
                          if(i == currentPage){
                            text = '<li class="page-item active"><span class="page-link">'+currentPage.toString()+'<span class="sr-only">(current)</span></span></li>';
                            text += '<span class="sr-only">Last-Page</span></a></li></ul></nav>';
                          }else{
                            text = '<li class="page-item"><a id="'+i.toString()+'" class="page-link urls" href="'+pageURL+'">'+i.toString()+'</a></li> ';
                          }


                          $('.pagination').append(text);
                        }





                      }
                      $("#fetcherDiv").hide();

                    });


                  });


                $("#fetcherDiv").hide();

              });


              $('.dropdownlist').removeClass("btn-success").addClass("btn-primary");
              outterbutton.removeClass("btn-primary").addClass("btn-success");



            }});  });  });
        </script>




{% endblock %}
