

{% block signup %}

<!-- sign up modal -->
<div id="signupModal" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Signup </h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">

                      <div class="col-12 text-center">
                         <h1><span class="fa fa-user-plus"></span> Sign Up </h1>
                         <div  class="col-12 text-center">
                         {% if signuperror %}
                         <div class="aler alert-danger">
                         <h2>{{ signuperror }}</h2>
                         </div>
                         <br />
                         <br />

                        <script>
                          $(document).ready(function(){
                            $("#signupModal").modal('show');
                          });
                        </script>
                         {% endif %}
                         </div>
                         <br />
                         <br />
                      </div>

                     <div class=" col-10 col-md-9 offset-md-3">
                      <form method="POST" action="{% url 'signup' %}">
                          {% csrf_token %}
                          <div class="form-group row">

                              <div class="col-md-9 ">
                                  <input type="text" class="form-control" id="username" name="username" placeholder="Username eg.Azzam"required/>
                              </div>
                          </div>
                          <div class="form-group row">

                              <div class="col-md-9">
                                  <input type="password" class="form-control" id="password1" placeholder="Password"name="password1" autocomplete required/>
                              </div>
                          </div>
                          <div class="form-group row">

                              <div class="col-md-9">
                                  <input type="password" class="form-control" placeholder=" Confirm password" id="password2" name="password2" autocomplete required/>
                              </div>
                          </div>
                          <div class="form-group row">

                              <div class="col-md-9">
                                  <input type="email" class="form-control" id="email" placeholder="Email"name="email" required/>
                              </div>
                          </div>
                          <div class="form-group row">

                              <div class="col-md-9">
                                  <input type="text" class="form-control" id="key" name="key" placeholder="Youtube API's' key"required/>
                              </div>
                          </div>




                          </div>

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                <button type="submit" ng-click="clickMe();" class="btn btn-primary btn-sm">Sign Up</button>
                </div>
                    </form>
            </div>
        </div>
    </div>





{% endblock %}
