{% extends 'base.html' %}
{% block content %}
  {% load staticfiles %}
    <div class="container">
        <div class="row">
			<ol class="col-12 breadcrumb">
				<li class="breadcrumb-item"><a ng-click="clickMe()"href="{% url 'home'%}">Home</a></li>
				<li class="breadcrumb-item active">About</li>
				<li></li>
			</ol>
            <div class="col-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-8">
                <h2>Our History</h2>
                <p>Started in 2017, Opinion Mining in Youtube quickly become neccerly need .</p>
                <p>The website traces its humble beginnings to <em> fetch the comments from a video publiched on Youtube</em>, a successful chain started by our supervisior, Mr. Dr.Bassam Alkurdy, that featured for the first time the world's best website .</p>
            </div>
            <div class="col col-sm">
            </div>
        </div>

<!-- Tabs-->
        <div class="row row-content">
            <div class="col-12 ">
                <h2>Corporate Leadership</h2>
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#azzam"
                     role="tab" data-toggle="tab">Eng.Azzam Ali, Developer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#bassam"
                     role="tab" data-toggle="tab">Bassam Alkurdy ,supervisior </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#gady"
                     role="tab" data-toggle="tab">Gady Alhamad , مشرفة</a>
                  </li>
                </ul>
                 <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="azzam">
                      <img src="{% static 'IMG/EngAzzam.jpg' %}" class="image-fluid" height="150" width="150" />
                      <h3>Eng.Azzam Ali <small> Developer</small></h3>
                      <p class="d-none d-sm-block">Our Developer, Azzam, credits his hardworking using bootstrap4 and Django v 2.2 to make this website.</p>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="bassam">
                      <img src="{% static 'IMG/DrBassam.jpg' %}" class="image-fluid" height="150" width="150" />
                      <h3>Dr.Bassam Alkurdy <small> supervisior</small></h3>
                      <p class="d-none d-sm-block"></em></p>

                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="gady">
                      <img src="{% static 'IMG/EngGady.jpg' %}" class="image-fluid" height="150" width="150" />
                      <h3>Eng.Gady Alhamad <small> assistant </small></h3>
                      <p class="d-none d-sm-block"></em></p>


                    </div>
                  </div>
              </div>
       </div>





  <div class="col-12">
    <div class="card card-body bg-light">
      <blockquote class="blockquote">
        <p class="mb-0">You better know people's opinion about Topics on youtube.</p>
        <footer class="blockquote-footer">Azzam Ali,
          <cite title="Source Title">2019</cite>
        </footer>
      </blockquote>
    </div>
  </div>


       </div>

       </div>

    </div>



{% endblock %}
