{% extends 'base.html' %}

{% block content %}
<div class="container">
       <div class="row">
           <ol class="col-12 breadcrumb">
               <li class="breadcrumb-item"><a ng-click="clickMe()"href="{% url 'home'%}">Home</a></li>
               <li class="breadcrumb-item active">Contact Us</li>
           </ol>
           <div class="col-12">
              <h3>Contact Us</h3>
              <hr>
           </div>
       </div>

       <div class="row row-content">
          <div class="col-12">
             <h3>Location Information</h3>
          </div>
           <div class="col-12 col-sm-4 offset-sm-1">
                  <h5>Our Address</h5>
                   <address style="font-size: 100%">
                 Baniyas, Tartus<br>
                 Syria<br>
                 <i class="fa fa-phone"></i>: +963 991576641<br>
                 <i class="fa fa-envelope"></i>:
                       <a ng-click="clickMe()"href="mailto:azzamazezali@gmail.com">azzamazezali@gmail.com</a>
              </address>
           </div>
           <div class="col-12 col-sm-6 offset-sm-1">
               <h5>Map of our Location :</h5>
               <div id="map" style="height:150%;width:100%;"></div>
             <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9uMnvAqLuaOjpXJqtZe-_GZ4nhbOX2ss&callback=myMap"></script>
              <script>
              function myMap(){
                var mapOptions = {
                    center: new google.maps.LatLng(35.523076, 35.806688),
                    zoom: 14,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                }

                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                var marker = new google.maps.Marker({
                  position: {lat :35.523076,lng:35.806688},
                  map: map,
                  title: "Our Location is SVU :lattakia brunch Azzam_85473"

                });
              }
            </script>


           </div>
           <div class="col-12 col-sm-11 offset-sm-1">
               <div class="btn-group" role="group">
       <a ng-click="clickMe()"role="button" class="btn btn-primary" href="tel:+963991576641"> <i class="fa fa-phone"></i>Call</a>
       <a ng-click="clickMe()"role="button" class="btn btn-info"><i class="fa fa-skype"></i>Skype</a>
       <a ng-click="clickMe()"role="button" class="btn btn-success" href="mailto:Azzamazezali@gmail.com"><i class="fa fa-envelope-o"></i>Email</a>
       </div>
           </div>
       </div>

       <div class="row row-content">
          <div class="col-12">
             <h3>Send us your Feedback</h3>
          </div>

            <div  class="col-6">
              {% if error %}
              <h3 class="alert alert-danger">{{ error }}</h3>
              {% endif %}
              {% if state %}
              <h3 class="alert alert-success">{{ state }}</h3>
              {% endif %}

            </div>

           <div class="col-12 col-md-9">
                <form method="POST" action="{% url 'contactus' %}">
                    {% csrf_token %}
                   <div class="form-group row">
                       <label for="firstname" class="col-md-2 col-form-label">First Name</label>
                       <div class="col-md-10">
                           <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                       </div>
                   </div>
                   <div class="form-group row">
                       <label for="lastname" class="col-md-2 col-form-label">Last Name</label>
                       <div class="col-md-10">
                           <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                       </div>
                   </div>

                           <div class="form-group row">
                       <label for="telnum" class="col-12 col-md-2 col-form-label">Contact Tel.</label>
                       <div class="col-5 col-md-3">
                           <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="Area code">
                       </div>
                       <div class="col-7 col-md-7">
                           <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. number">
                       </div>
                   </div>
                   <div class="form-group row">
                       <label for="emailid" class="col-md-2 col-form-label">Email</label>
                       <div class="col-md-10">
                           <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email">
                       </div>
                   </div>

          <div class="form-group row">
                       <label for="feedback" class="col-md-2 col-form-label">Your Feedback</label>
                       <div class="col-md-10">
                           <textarea class="form-control" id="feedback" name="feedback" rows="12"></textarea>
                       </div>
                   </div>
         <div class="form-group row">
                       <div class="offset-md-2 col-md-10">
                           <button type="submit" ng-click="clickMe()" class="btn btn-primary">Send Feedback</button>
                       </div>
                   </div>
            </form>
           </div>
            <div class="col-12 col-md">
           </div>
      </div>
      </div>
{% endblock %}
